[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djangorestframework = "==3.7.7"
django = "==2.2.10"
pytz = "==2018.3"
coreapi = "==2.3.3"
certifi = "==2018.1.18"
chardet = "==3.0.4"
coreschema = "==0.0.4"
idna = "==2.6"
itypes = "==1.1.0"
"jinja2" = "==2.10"
markupsafe = "==1.0"
requests = "==2.18.4"
uritemplate = "==3.0.0"
"urllib3" = "==1.22"
pygments = "==2.2.0"
markdown = "==2.6.11"
whitenoise = "==3.3.1"
coverage = "==4.5.1"
drf-nested-routers = "==0.90.0"
"psycopg2" = "==2.7.4"
django-filter = "==1.1.0"
django-material = "==1.2.2"
openapi-codec = "==1.3.2"
simplejson = "==3.13.2"
django-debug-toolbar = "==1.9.1"
sqlparse = "==0.2.4"
gunicorn = "==19.7.1"
django-environ = "==0.4.4"
environ = "==1.0"
wstools = "==0.4.5"


[dev-packages]



[requires]

python_version = "3.6"
