{% extends 'base.html' %}

{% block extrahead %}
<style type="text/css">
  @media screen and (max-width: 480px) {
    .card {
      width: 100%;
      padding: 0 !important;
      margin: 0 !important;
      border: 0px;
      height: 100%;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="{% block formclass %}{% endblock %}">
    <div class="card">
        <form method="POST" enctype="multipart/form-data" action="{% block formaction %}/{% endblock %}">
            <div class="card-content">
                <span class="card-title grey-text text-darken-2">{% block formtitle %}Form{% endblock %}</span>
                {% csrf_token %}
                {% block formbody %}{% endblock %}
            </div>
            <div class="card-action">
                {% block actions %}
                <div class="right-align">
                    {% block formbuttons %}<button class="btn btn-primary" type="submit">Submit</button>{% endblock %}
                </div>
                {% endblock %}
            </div>
        </form>
    </div>
</div>
{% block result %}
{% endblock %}
{% endblock %}

